[includeIf "gitdir:~/git/private/"]
	path = .gitconfig-private
[includeIf "gitdir:~/git/work/"]
	path = .gitconfig-work
[core]
	editor = nvim
[commit]
	gpgsign = true
	verbose = true
[pull]
	rebase = false
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[pager]
    # insanely beautiful diffs ==> npm install -g diff-so-fancy
    diff = (command -v diff-so-fancy >/dev/null && diff-so-fancy | less --tabs=4 -RFX || less)
    show = (command -v diff-so-fancy >/dev/null && diff-so-fancy | less --tabs=4 -RFX || less)
